A session zero is recommended where everyone can come together, learn the setting, and make their characters. Allows for combined backstory creation and encourages the players to become invested and involved in the world building.
During session zero, it is also recommended for the party to set the theme of the campaign by deciding if they want to play as the Good Guys, the Bad Guys, or the Bounty Hunters.
PvP (even in Evil Campaigns) is discouraged because it distracts from the PvE, and there is a good chance somebody will have a bad time. Not to say PvP should be forbidden, just controlled. Plan the betrayal. Make it epic.

----------------------------------------

Character Creation:
Roll on the trinket table if you want (PH159).
If you want, you can buy your starting equipment instead of the class and background starting items (PH143).

----------------------------------------

Helpful Info:

The 20-sided Die or d20 is the most commonly used.
90% of the time when asked to make a roll that means rolling the d20.
 8% of the time, you wil be asked to make a damage roll using the specified die written on your character sheet
 1% of the time, you will be asked to make a percentage roll or d100
  rolling two 10-sided dice, decide beforehand which dice represents the Ones' place and the Tenths' place

Many times you will be asked to make a check or saving throw which is rolling the d20 and adding the appropriate number written on your Character Sheet

----------------------------------------

Roleplay:
Roleplaying is essentially resolving hypothetical situations with limitations.
Seperate the character from the player.
What are the character's motivations and how do the motivations inform decision making.
Just because the player knows some information that does not mean the character also knows.
And the character may know some information that the player does not know. Be sure to ask the DM.
Don't look at the skills on your character sheet as what you can do. You can do anything. The DM just determines what skill(s) are needed to accomplish the describe act.

There will be short pauses during roleplay segments usually between times when an NPC is speaking. These are excellent times to interrupt and roleplay or perform some action or influence the situation in some way. You can still interrupt while an NPC is speaking as well but you may miss out on some useful information. The NPC will continue on until the Character has no more motivation to keep talking or makes a request of the players.

----------------------------------------

This is a Game. Have fun. Don't go too far and remember the decided upon Edge Scale. Don't take things too seriously or personally. Don't bring your issues into the game.

----------------------------------------

Critical Successes and Failures for Everything! Because rolling 20s and 1s are exciting.

----------------------------------------

Random Encounters are used when travelling long distances. Not everything must resolve in combat, but you may run into baddies that are much more powerful than you.

----------------------------------------

Day and Night Cycle:
        Spring/Autumn     Summer      Winter
Dawn      6 AM              5 AM        8 AM
Day       8 AM              6 AM        9 AM
Dusk      6 PM              8 PM        5 PM
Night     8 PM              9 PM        6 PM

----------------------------------------

AT 12:00 AM, set the weather.
  Set the Storm Chance setting it equal to the result of a d100.
  Check to see if Storm occurs by rolling a d100 percentile for the Storm Chance.
  If a Storm occurs
    Storm Start     1d20 o'clock
    Storm Duration  2d12 hours
    Storm Intensity 1d6
      1-2 Light     Reduces visbility to 1 mile
      3-4 Moderate  Lightly obscured
        5 Heavy     Lightly obscured  Extreme Temperature and/or Strong Winds that cause exhaustion.
        6 Dangerous Heavily obscured. Extreme Temperature and/or Strong Winds that cause exhaustion.
    If a Storm starts while another is raging, then the Intesity Stacks

----------------------------------------

Carrying Capacity:
  Encumbered:         STR*5   -10 ft
  Heavily Encumbered: STR*10  -20 ft, disadvantage on ability checks, attack rolls, saving throws for STR, DEX, CON
  Limit:              STR*15

----------------------------------------

Hunger:
You get hungry if you don't eat one ration a day.
If you already hungry, make a a Con saving throw.
  The DC starts at 15 and increases by 5 every day.
  If you fail, you start starving.
You will stop being hungry or starving if you eat a ration.
When you eat, update the date of your Last Meal.
Hunger and Starvation lower your chance of getting restful sleep.

----------------------------------------

Travelling:
You can march for a max of 8 hours.
After 8 hours, you can continue to travel by strolling which takes twice the time to cover the same distance.
  Or you can do a Forced March at the risk of exhaustion.
    For each additional hour of travel beyond 8 hours, each character must make a Constitution saving throw at the end of the hour. The DC is 10 + 1 for each hour past 8 hours. On a failed saving throw, a character suffers one level of Exhaustion.
Mounts and Vehicles travel at the same pace, unless fresh mounts are provided every 8 to 9 miles (relay speed).

Pace      Hour        8 Hours       Notes
  Relay     8 miles     64 miles      A relay ticket is required (10 GP). -5 penalty to Perception.
  Fast      4 miles     32 miles      -5 penalty to Perciption.
  Normal    3 miles     24 miles
  Slow      2 miles     16 miles      Able to use Stealth. Max pace when Encumbered (cannot stealth).
  Snail     1 mile       8 miles      Able to use Stealth. Max pace when Heavily Encumbered (cannot stealth).
Difficult terrains (like forests and dungeons) take twice as long to travel the same distance.

If you are on difficult terrain and do not a map and the path is not a straight shot to a visable landmark, then the pathfinding skill comes into play. Someone roles Survival. The DC varies.
Pathfinding Condition         DC
  Bright Light                10
  Dim Light                   15
  Dark Light                  20
  Bad Weather                 +5
  Terrible Weather           +10

If you are travelling without map or do not know the direction. Someone should be mapping to keep track of the route so pathfinding is not needed on the return journey.

----------------------------------------

Climbing, Swimming, and Crawling
While climbing or swimming, each foot of movement costs 1 extra foot (2 extra feet in difficult terrain), unless a creature has a climbing or swimming speed.
At the GM’s option, climbing a slippery vertical surface or one with few handholds requires a successful Strength (Athletics) check.
  If starting a turn on a vertical surface, the character must make an athletics check.
    DC: Base Wall Difficulty DC (this could be 0) +2 for every turn they have been climbing
Similarly, gaining any distance in rough water might require a successful Strength (Athletics) check.

----------------------------------------

Jumping
Your Strength determines how far you can jump.

Long Jump.
  When you make a long jump, you cover a number of feet up to your Strength score if you move at least 10 feet on foot immediately before the jump. When you make a standing long jump, you can leap only half that distance. Either way, each foot you clear on the jump costs a foot of movement.
  This rule assumes that the height of your jump doesn’t matter, such as a jump across a stream or chasm. At your GM’s option, you must succeed on a DC 10 Strength (Athletics) check to clear a low obstacle (no taller than a quarter of the jump’s distance), such as a hedge or low wall. Otherwise, you hit it.
  When you land in difficult terrain, you must succeed on a DC 10 Dexterity (Acrobatics) check to land on your feet. Otherwise, you land prone.

High Jump.
  When you make a high jump, you leap into the air a number of feet equal to 3 + your Strength modifier if you move at least 10 feet on foot immediately before the jump. When you make a standing high jump, you can jump only half that distance. Either way, each foot you clear on the jump costs a foot of movement. In some circumstances, your GM might allow you to make a Strength (Athletics) check to jump higher than you normally can.
    You can extend your arms half your height above yourself during the jump. Thus, you can reach above you a distance equal to the height of the jump plus 1.5 times your height.

----------------------------------------

Camping:
After a long day's travel and there's no inn in sight, then it's time to camp.
  A comfortable camp takes an hour to find the wood, setup tents, and prepare food.
Certain conditions can make camping exhausting instead of relaxing.
  A long rest here will increase exhaustion instead of decrease.

Condition             Chance of Exhaustion
  Sleeping in Armor     See Armor
  Uncomfortable Camp    +25%
  Light Percipitation   +10%
  Heavy Percipitation   +30%
  Extereme Temperature  +20%
  Hungry                +15%
  Starving              +50%

----------------------------------------

Foraging and Hunting:
You can forage and hunt for food in the wild.
Forage for Raw Vegetables and Hunt for Raw Meat.
Raw Meat will expire after 24 hours.
2 Raw Vegetables can be consumed as a Ration.
A Campire can Cook Raw Food.
  1 Raw Vegetable              -> 1 Homemade Ration
  1 Raw Meat                   -> 1 Homemade Ration
  1 Raw Vegetable + 1 Raw Meat -> 3 Homemade Rations
Homemade Rations expire after 7 days.

Passing the Survival Check results in 1 Raw Food.
  For every 5 you roll over the DC, you gain another Raw Food.
  Critical Failures mean you stumbled into an Encounter.
  Critical Success mean you stumbled across some minor random items.
Landscape            DC
  Bountiful           5
  Standard           10
  Bare               15
  Barren             20
Other Modifiers      DC
  Lightly Obscured   +5
  Heavily Obscured  +10

----------------------------------------

Training:
Ability Scores can be increased up to 20 via Training (1 hour).
The Character will make an Ability Check with the Ability being trained (Rolled in the Open and Verified).
The DC is the current Ability Score + 1.
The Roll Result - DC is the percentage gain or loss from training.
Critical Fails result in -10%.
Criticaul Successes result in +10%.
The max percentage of progression you can be trained to without an Instructor is 90%.

If an ability in training is increased by some other means (i.e. leveling up), you gain some progress towards training towards the next skill level.
  Divide your abilities current training into 25% chunks (the last chunk may be smaller than the others).
  Subtract your recently leveled Ability Score from the chunks but do not lower chunks past 0%.
  Sum the remainders of the Chunks.
  The Sum is your new training progress towards the next level.
  Example:
    Ability Score of 15 is leveled up to 16 and has a Training Percentage of 63%.
    Divide 63% into 25% Chunks:      25%  25%  13%
    Subtract leveled Ability Score: -16% -16% -13% (16 is < 13 so don't subtract more than 13%)
                                      9%   9%   0%
    Total Up: 9% + 9% + 0% = 18%.
    The New Training Percntage (for going from 16 to 17) is 18%.

Your Tutor, or someone with a higher Ability Score (of the ability being trained), can oversee the training.
  Gives the trainee a +1 to the dice roll.

The last 10%, must be oversaw by an Instructor.
Instructors gives a +5 bonus but must be paid (usually beforehand).

Instrutor Cost Table
Future Ability Score (current Ability Score +1)     Cost
  < 5                                                1 CP
  5 - 9                                              1 SP
  10 - 12                                            1 GP
  13 - 14                                           10 GP
  15                                               100 GP
  16                                               250 GP
  17                                               500 GP
  18                                              1000 GP
  19                                              5000 GP
  20                                             10000 GP

----------------------------------------

Reading:
Proficiencies and Languages can be learned via reading.
Language Proficiency Books have a straight Intelligence Skill Check.
Monster Knowledge Proficiency Books are a thing (one book per type of monster).
Skill Proficiency Books have a DC based on the skill's related ability.
Other Proficiency Books can be based off of any single ability decided by the DM.
  Example: A Library has two Proficiency Books for Heavy Armor. One requires Strength Checks. The other requires Intelligence Checks.
A Tutor, or someone who is already proficient with the Book's subject, can assist and give a +1 to the Dice Roll.
At 100%, an Instructor must be hired to actually gain the proficiency.
  The DC of the Final Exam is 22.
  Instructors cost 1,000 GP.
  Instructors give a +5 bonus to Dice Rolls.

Reading Percntage Gain Table:
Crit Fail       -5%
<= 10            0%
11 - 15          1%
16 - 20          2%
21 - 25          3%
>= 26            4%
Crit Success     5%

Books can be bought for 5 GP.
Books can be rented from a library for a 5 GP deposit (cash returned after book is returned (1 SP charge per day rented) if the rental fee reaches 5 GP then the book is considered bought).
Books can be sold for 1 GP

----------------------------------------

Stabilization:
It takes effort to stabalize a creature closer.
The Medicine check's base DC is 10.
Each failed death saving throw increases the DC by 1.
Each successful death saving throw decreases the DC by 1.

----------------------------------------

Revivification:
(Additional notes for DMs are in the DM section)
Escaping death is not easy. All Revivification spells are rituals.
Three PCs may assist the the ritual.
  The DM will ask for a skill check based on how you assist.
  A particularily convincing assist, may gain you advantage on the roll.
Afterwards, the Dead PC having heard all the pleas may choose to roll a revification check.
  No modifiers are added to the d20.
  After choosing to roll, the DM may tell you the number you have to meet or beat.
Critical Success means you come back without revivification sickness.
A Success means you come back with revivification sickness.
A Failure means you die.
A Critical Failure means you come back with murderous intent against all living creatures.
